@import './var.scss';

body.visible {
    .header{
     .nav{
         .nav-list{
             flex-direction: column;
             position: absolute;
             top: 0;
             right: 0;
             background-color: black;
         }
     }
    }
}

.header{
    position: relative;
    .container{
        position: relative;
        .buy-dropdown{
            position: absolute;
            top: 73px;
            right: 0;
            z-index: 3;
            width:  480px;
            margin-right: 1.2%;
            background-color: white;
            max-height: 400px;
            overflow-y: scroll;

            article{
                width: 100%;
                display: flex;
                align-items: center;
                margin:20px 0;
                background-color: #CCD9F233;
                justify-content: space-between;
                padding: 20px 10px;

                &:first-child{
                    margin-top: 0;
                }

                .article-main{
                    display: flex;
                    align-items: center;
                }

                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0%;
                    margin-bottom: 10px;
                    color: #4D4D4D;
                }

                h3{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #4D4D4D;
                }

                img{
                    width: 30%;
                    margin-right: 10px;
                }
                button{
                    border: none;
                    background: none;
                    cursor: pointer;
                    .trash-icon{
                        width: 30px;
                    }
                }
            }
            .buy-drop-bottom{
                background-color: #000D541A;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px;
                width: 100%;

                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0%;
                    color: #4D4D4D;

                }

                h3{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #4D4D4D;
                }
            }
        }
    }
    background-color: $purple;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 20px;

        @media screen  and (max-width: 1110px){
            ul{
                width: 70%;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 50px;
                align-items: center;
                top: 0;
                z-index: 2;
            }
        }

        ul{
            display: flex;
            align-items: center;
            gap: 30px;
            white-space: nowrap;

            li{
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: white;
                a{
                    @extend li;
                    transition: .2s ease;
                    &:hover{
                        color: $red;
                    }
                }

                &:last-child{
                    display: flex;
                    align-items: center;
                    button{
                        background: none;
                        border: none;
                        height: 17px;
                        margin-left: 10px;
                        margin-bottom: 4px;
                        position: relative;
                        transition: .2s ease;
                        img{
                            cursor: pointer;
                        }
                        span{
                            position: absolute;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            vertical-align: middle;
                            background-color: $red;
                            padding: 3px;
                            width: 16px;
                            height: 16px;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            color: white;
                            top: 10px;
                            right: -10px;
                        }
                    }
                }
            }
        }

        .dropdown-button{
            z-index: 2;
            background: transparent;
            border: none;

            svg{
                width: 50px;
                height: 50px;
            }
        }
    }
    hr{
        border: 1px solid #FFFFFF80;
    }

    .hero{
        padding: 100px 0 100px;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;
        img{
            position: absolute;
            top: 200px; 
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 80%;

            @media screen and (max-width: 700px) {
                display: none;
                opacity: 0;
                visibility: hidden;
            }
        }

        h1{
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 36px;
            line-height: 140%;
            flex: 1 1 auto;
            letter-spacing: 0%;
            color: #FFFFFF;
            max-width: 580px;
        }

        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0%;
            color: #FFFFFF;
            max-width: 480px;
            margin-bottom: 20px;
        }

        button{
            z-index: 1;
            position: relative;
        }
    }

}

.clothes{
    margin-bottom: 20px;
    .container{
        h2{
            color: $black;
            margin-bottom: 50px;
        }
        width: 100%;
        .clothes{
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: space-between;
        }
        .clothes-container{
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 240px));
            justify-content: space-between;
            gap: 50px 10px;
            article{
                max-width: 240px;
                position: relative;
                transition: .2s ease;

                p{
                    margin-bottom: 10px;
                    color: $black;
                }

                h3{
                color: $black;
                }

                img{
                    width: 100%;
                    transition: .2s ease;
                }

                &:hover img{
                    filter: sepia(20%);
                }

                .controls{
                    position: absolute;
                    top: 40%;
                    width: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button{
                        border: none;
                        cursor: pointer;
                        background: transparent;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-color: #444B58;

                        img{
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }

        button{
            margin-top: 20px;
        }
    }
}

.footer{
    .container{
        margin-bottom: 50px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        .form-wrapper{
            width: 380px;
        }
        form{
            background-color: $purple;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 60px 20px 40px;
            width: 100%;

            h2{
                font-weight: 700;
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                color: white;
                margin-bottom: 20px;
            }

            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: white;
                margin-bottom: 20px;
            }

            input{
                padding: 15px 20px;
                margin-bottom: 10px;
                border: none;
                border-radius: 5px;

                &:focus{
                    outline: none;
                }

                &::placeholder{
                    color: #B2B5BB;
                }
            }
        }

        .images-title{
            width: 20%;
        }

        .images-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            .inner{
                img{
                    width: 50%;
                }
            }
        }
    }
    .footer-bottom{
        background-color:#444B58;

        .container{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 20px;

            ul{
                display: flex;
                gap: 40px;

                a{
                    color: white;
                }
            }
        }
    }
}
