body.visible .header .nav .nav-list {
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
}

.header {
  position: relative;
  background-color: #484283;
}
.header .container {
  position: relative;
}
.header .container .buy-dropdown {
  position: absolute;
  top: 73px;
  right: 0;
  z-index: 3;
  width: 480px;
  margin-right: 1.2%;
  background-color: white;
  max-height: 400px;
  overflow-y: scroll;
}
.header .container .buy-dropdown article {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
  background-color: rgba(204, 217, 242, 0.2);
  justify-content: space-between;
  padding: 20px 10px;
}
.header .container .buy-dropdown article:first-child {
  margin-top: 0;
}
.header .container .buy-dropdown article .article-main {
  display: flex;
  align-items: center;
}
.header .container .buy-dropdown article p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 10px;
  color: #4D4D4D;
}
.header .container .buy-dropdown article h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4D4D4D;
}
.header .container .buy-dropdown article img {
  width: 30%;
  margin-right: 10px;
}
.header .container .buy-dropdown article button {
  border: none;
  background: none;
  cursor: pointer;
}
.header .container .buy-dropdown article button .trash-icon {
  width: 30px;
}
.header .container .buy-dropdown .buy-drop-bottom {
  background-color: #CCD9F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.header .container .buy-dropdown .buy-drop-bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #4D4D4D;
}
.header .container .buy-dropdown .buy-drop-bottom h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4D4D4D;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 20px;
}
@media screen and (max-width: 1110px) {
  .header .nav ul {
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    align-items: center;
    top: 0;
    z-index: 2;
  }
}
.header .nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  white-space: nowrap;
}
.header .nav ul li, .header .nav ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.header .nav ul li a {
  transition: 0.2s ease;
}
.header .nav ul li a:hover {
  color: #F14F4F;
}
.header .nav ul li:last-child, .header .nav ul li a:last-child {
  display: flex;
  align-items: center;
}
.header .nav ul li:last-child button, .header .nav ul li a:last-child button {
  background: none;
  border: none;
  height: 17px;
  margin-left: 10px;
  margin-bottom: 4px;
  position: relative;
  transition: 0.2s ease;
}
.header .nav ul li:last-child button img, .header .nav ul li a:last-child button img {
  cursor: pointer;
}
.header .nav ul li:last-child button span, .header .nav ul li a:last-child button span {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  background-color: #F14F4F;
  padding: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  top: 10px;
  right: -10px;
}
.header .nav .dropdown-button {
  z-index: 2;
  background: transparent;
  border: none;
}
.header .nav .dropdown-button svg {
  width: 50px;
  height: 50px;
}
.header hr {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
}
.header .hero {
  padding: 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.header .hero img {
  position: absolute;
  top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
@media screen and (max-width: 700px) {
  .header .hero img {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
.header .hero h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  flex: 1 1 auto;
  letter-spacing: 0%;
  color: #FFFFFF;
  max-width: 580px;
}
.header .hero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #FFFFFF;
  max-width: 480px;
  margin-bottom: 20px;
}
.header .hero button {
  z-index: 1;
  position: relative;
}

.clothes .container {
  width: 100%;
}
.clothes .container .clothes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.clothes .container .clothes-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 240px));
  justify-content: space-between;
  gap: 50px 10px;
}
.clothes .container .clothes-container article {
  max-width: 240px;
  position: relative;
  transition: 0.2s ease;
}
.clothes .container .clothes-container article p {
  margin-bottom: 10px;
  color: #444B58;
}
.clothes .container .clothes-container article h3 {
  color: #444B58;
}
.clothes .container .clothes-container article img {
  width: 100%;
  transition: 0.2s ease;
}
.clothes .container .clothes-container article:hover img {
  filter: sepia(20%);
}
.clothes .container .clothes-container article .controls {
  position: absolute;
  top: 40%;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clothes .container .clothes-container article .controls button {
  border: none;
  cursor: pointer;
  background: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #444B58;
}
.clothes .container .clothes-container article .controls button img {
  height: 20px;
  width: 20px;
}
.clothes .container button {
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */