*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: Intro Regular;
  box-sizing: border-box;
}

@font-face {
  font-family: Intro Regular;
  src: url(./fonts/intro_regular.ttf);
}

h1{
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

p{
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.price{
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

button{
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.button{
  padding: 22px 47px;
  border-radius: 4px;
  border: none;
  transition: .5s ease;


  &:hover{
    background-color: red !important; 
  }
}

.menu{
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 15px;
}